body{
	background:#48ABA4;
	font-family:"ÉÅÉCÉäÉI", Meiryo, Arial, "ÇlÇr ÇoÉSÉVÉbÉN", "MS P Gothic", Osaka, sans-serif;
	font-size:12px;
	color:#fff;
}
#thecanvas {
  display: none;
}
#input_svg{display:none;width:100%;height:90%;}
#view_svg{margin-bottom:5px;}

#header{
	height:50px;
}
#content_wrapper{
	overflow:hidden;
	width:960px;
	margin:0 auto;
}
#arr_wrapper{
	float:left;
	width:100px;
}
.sub_ttl{
	font-weight:bold;
	text-decoration:underline;
	line-height:1.6;
	color:#D44097;
}
#arrs{
	overflow-y:scroll;
	list-style:none;
	margin:0;
	padding:0;
	height: 230px;
}
.arr{
	float:left;
	width:50px;
	height:50px;
	border:1px solid #ccc;
	margin:3px;
	background:#fff;
	padding:2px
}
#arrow1{
	border:1px solid rgb(84, 84, 84);
}
#paper_bg{
	position:relative;
	float:left;
	background:#E5E5E5;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom:20px;
}
#arr_info{
	position:absolute;
	padding:5px;
	background:#fff;

	top:4px;
	left:4px;
	z-index:100;
	font-size:12px;
	line-height:1.2;
}
#conf-color{
	margin:10px 0;
}
#paper{
	border:5px solid #fff;
	width:500px;
	height:500px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
#arrow_type{
	color:#777;
	float:left;
	width:410px;
	height:240px;
	margin-left: 20px;
	background:#fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding:10px;
	margin-bottom:20px;
	overflow: hidden;
}
#controller{
	color:#777;
	float:left;
	width:410px;
	height:210px;
	margin-left: 20px;
	background:#fff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding:10px;
}

#btn_png_dl,#view_svg{
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #D44097;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.txt-area{
    font-size: 16px;
    background-color: #fff;
    color: #666;
    border-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding:10px
}